@font-face {
  src: url(../../fonts/Inter-Regular.woff);
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src: url(../../fonts/Inter-Bold.woff);
  font-family: 'Inter';
  font-weight: 700;
}

@font-face {
  src: url(../../fonts/Inter-Black.woff);
  font-family: 'Inter';
  font-weight: 900;
}

.page {
  background: #2A2C2F;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: white;
}