.photo-grid {
  max-width: 1184px;
  margin-bottom: 92px;
  /* outline: 1px solid red; */
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    width: calc(100vw - 96px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(928px - (1024px - 100vw)/((1024 - 768)/(928 - 720)));
    margin-bottom: calc(92px - (1024px - 100vw)/((1024 - 768)/(92 - 88)));
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .photo-grid {
    max-width: calc(720px - (768px - 100vw)/((768 - 425)/(720 - 400)));
  }
}

@media (max-width: 768px) {
  .photo-grid {
    margin-bottom: calc(88px - (768px - 100vw)/((768 - 320)/(88 - 64)));
  }
}

@media (max-width: 425px) {
  .photo-grid {
    max-width: calc(400px - (425px - 100vw)/((425 - 320)/(400 - 288)));
  }
}