.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

@media (max-width: 690px) {
  .footer__links {
    margin-bottom: 34px;
  }
}

@media (max-width: 515px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 48px;
  }
}