.intro__title {
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  max-width: 690px;
  font-weight: 900;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: calc(54px - (768px - 100vw)/((768 - 320)/(54 - 32)));
    line-height: calc(58px - (768px - 100vw)/((768 - 320)/(58 - 35)));
    width: calc(720px - (768px - 100vw)/((768 - 320)/(720 - 240)));
  }
}